--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg110+1)
-- Dumped by pg_dump version 16.9 (Debian 16.9-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: deliverymen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deliverymen (
    id integer NOT NULL,
    name text,
    geom public.geometry,
    location text,
    phonenumber text,
    salary real,
    workedhours integer,
    store integer
);


ALTER TABLE public.deliverymen OWNER TO postgres;

--
-- Name: deliverymen_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.deliverymen_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.deliverymen_id_seq OWNER TO postgres;

--
-- Name: deliverymen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.deliverymen_id_seq OWNED BY public.deliverymen.id;


--
-- Name: deliverymen id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliverymen ALTER COLUMN id SET DEFAULT nextval('public.deliverymen_id_seq'::regclass);


--
-- Data for Name: deliverymen; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: deliverymen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.deliverymen_id_seq', 32, true);


--
-- Name: deliverymen deliverymen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliverymen
    ADD CONSTRAINT deliverymen_pkey PRIMARY KEY (id);


--
-- Name: deliverymen_pk; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX deliverymen_pk ON public.deliverymen USING btree (id);


--
-- PostgreSQL database dump complete
--

