.map-component-main-container {
    position: relative;
}

.map-component-layer-container {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255,255,255, 0.5);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 14px;
}

.map-component-layer-title {
    font-weight: bold;
    margin-bottom: 12px;
    color: black;
}

.map-component-layer-label {
    display: block;
    margin-bottom: 8px;
    color: black;
}
.map-component-layer-label:last-child {
    margin-bottom: 0px;
}