.user-card-container {
    border-radius: 16px;
}

.user-card-main-container {
    display: flex;
    flex-direction: row;
    background-color: gray;
    border: 2px solid black;
    border-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
}

.user-card-item-container {
    padding: 12px 32px 12px 32px;
    border-right: 2px solid black;
    flex: 1;
    text-align: center;
    min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-card-item-container:last-child {
    border-right: none;
}

.user-card-data-container {
    display: flex;
    flex-direction: row;
    background-color: #959595;
    border: 2px solid black;
    overflow-wrap: break-word;
    word-break: break-all;
    border-bottom: 0px;
}